<h2>Subjects</h2>

<ul>
  <% @subjects.each do |subject| %>
    <li>
      <%= subject.title %> 
      <ul>
        <% find_all(subject).each do |card| %>
          <li><%= link_to "#{card.title}", subject_flashcard_path(subject.id, card.id) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>