<h2>Subjects</h2>

<ul>
  <% @subjects.each do |subject| %>
    <li>
      <%= subject.title %> 
      <ul>
        <% subject.decks.each do |deck| %>
          <li><%= link_to "#{deck.title}", subject_deck_path(subject.id, deck.id) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>